
<p>ようこそ <%= current_user.nickname %>さん</p>
<img src="<%= current_user.image_url %>">

<div class="text-center">
  <h3>きになるリスト <%= @count_interest %></h3>
</div>

<div class="text-center">
  <h3>いったよリスト <%= @count_visit %></h3>
</div>

<%= render 'frames/frames', frames: @frames %>
