<div class="row">
  <% frames.each do |frame| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/images/<%= frame.image %>" width="100%" alt="<%= frame.name %>">
        </div>
        <div class="panel-body">
          <p class="text-center"><%= link_to frame.name, frame_path(frame) %></p>
          <div class="button text-center">
            <% if user_signed_in? %>
              <%= render 'relationships/interest_button', frame: frame %>
              <%= render 'relationships/visit_button', frame: frame %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>