<% content_for :cover do %>
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents text-center">
      <h1>懐かしい「日常のひとコマ」をのぞき見る旅</h1>
    </div>
  </div>
</div>
<% end %>

<%= search_form_for @search do |f| %>
  <form class="form-inline text-center">
    <div class="form-group col-xs-9 col-sm-10 text-center">
      <%= f.text_field :name_or_content_cont_any, class: "form-control", placeholder: "気になるひとコマを探そう" %>
    </div>
    <div class="actions">
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <%= fa_icon 'search fa-fw', text: '検索' %>
      <% end %>
    </div>
  </form>
<% end %> 

<div class="text-center">
  <%= render 'frames', frames: @frames %>
</div>

<div class="text-center">
  <%= paginate @frames %> 
</div>
  
