<% content_for :cover do %>
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents text-center">
      <h1>懐かしい「日常のひとコマ」をのぞき見る旅</h1>
    </div>
  </div>
</div>
<% end %>

<%= search_form_for @search do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <%= f.text_field :name_or_content_cont_any, class: "form-control", placeholder: "気になるひとコマを探そう" %>
    </div>
    <div class="actions">
      <%= f.submit "検索" %>
    </div>
  </form>
<% end %> 

<div class="row">
  <% @results.each do |result| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/images/<%= result.image %>" width="100%" alt="<%= result.name %>">
        </div>
        <div class="panel-body">
          <p class="text-center"><%= link_to result.name, frame_path(result) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>