<div class="row">
  <h2><%= @frame.name %></h2>

  <div class="text-center">
    <img src="/images/<%= @frame.image %>" alt="<% @frame.name %>">
  </div>
  
  <div class="text-center buttons">
    <% if user_signed_in? %>
      <%= render 'relationships/interest_button', frame: @frame %>
      <%= render 'relationships/visit_button', frame: @frame %>
    <% end %>
  </div>
  
  <div id="content">
    <%= simple_format(h @frame.content) %>
  </div>
  
  <script type="text/javascript">
    function initMap() {
        var test ={lat: <%= @frame.latitude %>, lng: <%= @frame.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBcSbIlarZ57x9nVwGIR-l17xCoV8QHBxs&callback=initMap"></script>

  <p id="notice"><%= notice %></p>

  <style type="text/css">
    #map { height: 400px;
      margin-left:auto;
      margin-right:auto;
      text-align:left;
      width: 80%;}
  </style>
  <div id="map"></div>
  
  <div class="col-xs-12 col-md-offset-1 col-md-5 text-center">
    <div class="interest-users">
      <div class="panel panel-default">
        <div class="panel-heading">
          きになるしたユーザ
        </div>
        <div class="panel-body text-left">
          <% @interest_users.each do |user| %>
            <img src="<%= user.image_url %>" alt="<% user.name %>" ><%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-5 text-center">
    <div class="visit-users">
      <div class="panel panel-default">
        <div class="panel-heading">
          いったよしたユーザ
        </div>
        <div class="panel-body text-left">
          <% @visit_users.each do |user| %>
            <img src="<%= user.image_url %>"  alt="<% user.name %>"><%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>